.texto_justificado {
    text-align: justify;
    text-justify: inter-word;
    margin: 10px;
    color: white;
}

.texto_centralizado {
    text-align: center!important;
    text-justify: inter-word;
    margin: 10px;
    color: white;
}

.texto_esquerda{
    float: left;
}

.info-list ul li strong.versao{
    background: #78cc6d;
    text-align: center!important;
    width: 100%;
    font-size: 10px;
    margin: 1px;
}
.destaque{
    color: #78cc6d;
}

/* OCULTAR SETAS NO CAMPO NUMERO */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* FIM OCULTAR SETAS NO CAMPO NUMERO */